importFrom("stats", "BIC", "coef", "filter", "lm", "median", "pbinom",
               "predict", "qbeta", "qt", "uniroot")
importFrom("utils", "tail")
importFrom(parallel,mclapply)
importFrom(dplyr,"%>%")
importFrom(Pareto,qPareto)

export(Ftilde)
export(aptitude_nonpara)
export(compute_ystarstar)
export(k_finder)
export(talent_computing_nonpara)
